<div class="row">
    <div class="col-md-6">
      <a routerLink="/ipos" class="btn btn-link">
        <i class="fa fa-arrow-circle-o-left"></i> Back To List of IPOs
      </a>
    </div>
    <div class="col-md-6">

    </div>
  </div>

  <div class="card">
    <div class="card-header">
      Add IPO
    </div>
    <div class="card-body">
      <form (ngSubmit) = "onSubmit()">

        <div class="form-group">
          <input
            type="text"
            class="form-control"
            name="companyName"
            [(ngModel)]="ipo.companyName"
            placeholder="Company Name"
            minlength="2"
            required>
        </div>

        <div class="form-group">
          <input
            type="text"
            class="form-control"
            name="stockExchangeName"
            [(ngModel)]="ipo.stockExchangeName"
            placeholder="Stock Exchange Name"
            minlength="2"
            required>
        </div>

        <div class="form-group">
          <label for="price">Price Per Share</label>
          <input
            type="number"
            class="form-control"
            name="price"
            [(ngModel)]="ipo.price"
            placeholder="Price per Share"
            required>
        </div>

        <div class="form-group">
          <label for="shares">Shares</label>
          <input
            type="number"
            class="form-control"
            name="shares"
            [(ngModel)]="ipo.shares"
            placeholder="Shares"
            required>
        </div>

        <div class="form-group">
          <input
            type="text"
            class="form-control"
            name="openDateTime"
            [(ngModel)]="ipo.openDateTime"
            placeholder="Open Date and Time"
            minlength="2"
            required>
        </div>

        <div class="form-group">
          <input
            type="text"
            class="form-control"
            name="remarks"
            [(ngModel)]="ipo.remarks"
            placeholder="Remarks"
            minlength="2"
            required>
        </div>

        <input type="submit"  class="btn btn-primary btn-block">
      </form>
    </div>
  </div>