<html>
  <body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <div class="container">
    <a routerLink="/" class="navbar-brand"><i class="fa fa-exchange"></i> Stock-Market-Charting</a>
    <button class="navbar-toggler" type="button" data-target="collapse" data-target="#navbarMain">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMain">
      <ul  class="navbar-nav mr-auto">
          <li  class="nav-item">
            <a routerLink="/import-excel" class="nav-link">Import Data</a>
          </li>
          <li  class="nav-item">
            <a routerLink="/companies" class="nav-link">Companies</a>
          </li>
          <li  class="nav-item">
            <a routerLink="/sectors" class="nav-link">Sectors</a>
          </li>
          <li  class="nav-item">
            <a routerLink="/stockExchange" class="nav-link">Stock Exchanges</a>
          </li>
          <li  class="nav-item">
            <a routerLink="/ipos" class="nav-link">IPOs</a>
          </li>
          <li  class="nav-item">
            <a routerLink="/comparison-charts" class="nav-link">Comparison</a>
          </li>
          <li  class="nav-item">
            <a routerLink="/stockPrice" class="nav-link">StockPrice</a>
          </li>
      </ul>
     
    </div>
  </div>
</nav>
</body>
</html>

