<div class="row">
    <div class="col-md-6">
      <a routerLink="/companies" class="btn btn-link">
        <i class="fa fa-arrow-circle-o-left"></i> Back To List of Companies
      </a>
    </div>
    <div class="col-md-6">
  
    </div>
  </div>
  
  <div class="card">
    <div class="card-header">
      Update Company
    </div>
    <div class="card-body">
      <form (ngSubmit) = "onSubmit()">
  
        <div class="form-group">
          <input type="text" class="form-control" name="companyName" [(ngModel)]="company.name"
            placeholder="Company Name"
            minlength="2"
            required>
        </div>
  
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            name="companyCode"
            [(ngModel)]="company.code"
            placeholder="Company Code"
            minlength="2"
            required>
        </div>
  
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            name="companyTurnover"
            [(ngModel)]="company.turnover"
            placeholder="Company Turnover"
            minlength="2"
            required>
        </div>
  
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            name="companyCeo"
            [(ngModel)]="company.ceo"
            placeholder="Chief Executive Officer"
            minlength="2"
            required>
        </div>
  
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            name="boardOfDirectors"
            [(ngModel)]="company.boardOfDirectors"
            placeholder="Board Of Directors (seperated by comma)"
            minlength="2"
            required>
        </div>
  
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            name="stockExchangeNames"
            [(ngModel)]="company.stockExchangeNames"
            placeholder="Stock Exchanges (seperated by comma)"
            minlength="2"
            required>
          <div  class="invalid-feedback">
            Stock Exchange Names required
          </div>
          <div  class="invalid-feedback">
            Must be atleast 2 characters
          </div>
        </div>
  
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            name="sectorName"
            [(ngModel)]="company.sectorName"
            placeholder="Sector Name"
            minlength="2"
            required>
        </div>
  
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            name="description"
            [(ngModel)]="company.description"
            placeholder="Company Description"
            minlength="2"
            required>
        </div>
  
        <input type="submit"  class="btn btn-primary btn-block">
      </form>
    </div>
  </div>
  