<div class="card">
  <div class="card-header">
    Comparison Charts
  </div>

  <div class="card-body">
    <form (ngSubmit)="onSubmit($event)">
      <div class="form-group">
        <label for="stockExchangeName">Select Stock Exchange</label>
        <select
          type="text"
          class="form-control"
          name="stockExchangeName"
          
          [(ngModel)]="comparison.stockExchangeName"
          required>
          <option value="BSE">BSE</option>
          <option value="NSE">NSE</option>
        </select>
      </div>

      <div class="form-group">
        <label for="companyCode">Company Code</label>
        <input
          type="text"
          class="form-control"
          name="name"
         
          
          [(ngModel)]="comparison.companyCode"
          placeholder="Company Name"
          minlength="2"
          required>
      </div>

      <div class="form-group">
        <label for="fromPeriod">From Period (dd-MM-YYYY)</label>
        <input
          type="text"
          class="form-control"
          name="fromPeriod"
         
         
          [(ngModel)]="comparison.fromPeriod"
          required>
      </div>

      <div class="form-group">
        <label for="toPeriod">To Period (dd-MM-YYYY)</label>
        <input
          type="text"
          class="form-control"
          name="toPeriod"
         
         
          [(ngModel)]="comparison.toPeriod"
          required>
      </div>

      <div class="form-group">
        <label for="periodicity">Specify Periodicity</label>
        <select
          type="text"
          class="form-control"
          name="periodicity"
         
          [(ngModel)]="comparison.periodicity"
          required>
          <option value="Day">Day</option>
          <option value="Week">Week</option>
          <option value="Month">Month</option>
          <option value="Year">Year</option>
        </select>
      </div>

      <input type="submit" value="Generate Map" class="btn btn-primary btn-block">
    </form>
  </div>
</div>

<div>
  <canvas id="canvasId" width="400px" height="200px">{{ chart }}</canvas>
</div>
